{% extends 'baseLoggedIn.html.twig' %}

{% block content %}
    <div class="caption">
        {{ userExam.exam.name }}
    </div>

    <div class="actionFieldTopText">
        Please note that each question can have one or multiple correct answers.
    </div>

    <div class="editQuestionForm">
        {% if userExam.exam.isRandomExam and randomQuestions is defined %}

            {% for q in randomQuestions %}
                <div class="takeExamQuestionAnswerBlock">
                    <div class="takeExamQuestionText">
                        {{ q.questionText }}
                    </div>

                    <table class="takeExamAnswerBlock">
                        {% for a in q.answers %}
                            <tr>
                                <td>
                                    <input type="checkbox" data-id="{{ a.id }}" class="selectAnswerCheckBoxActive"/>
                                </td>
                                <td style="padding-left: 5px;">
                                    {{ a.answerText }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

            {% endfor %}

        {% else %}

            {% for q in userExam.exam.questions %}
                <div class="takeExamQuestionAnswerBlock">
                    <div class="takeExamQuestionText">
                        {{ q.questionText }}
                    </div>

                    <table class="takeExamAnswerBlock">
                        {% for a in q.answers %}
                            <tr>
                                <td>
                                    <input type="checkbox" data-id="{{ a.id }}" class="selectAnswerCheckBoxActive"/>
                                </td>
                                <td style="padding-left: 5px;">
                                    {{ a.answerText }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}

        {% endif %}

        <button class="submitExamButton" data-id="{{ userExam.id }}">Submit</button>

    </div>
{% endblock %}