{% extends 'baseLoggedIn.html.twig' %}

{% block content %}
    <div class="caption">
        {{ userExam.exam.name }}
    </div>

    {% if userExam.exam.isRandomExam and randomQuestions is defined %}

        {% for q in randomQuestions %}
            <div class="takeExamQuestionBlock">
                <table>
                    <tr>
                        <td style="font-size: 30px">{{ q.questionText }}</td>
                    </tr>
                    {% for a in q.answers %}
                        <tr>
                            <td>
                                <input type="checkbox" data-id="{{ a.id }}" class="selectAnswerCheckBoxActive"/> {{ a.answerText }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}

    {% else %}

        {% for q in userExam.exam.questions %}
            <div class="takeExamQuestionBlock">
                <table>
                    <tr>
                        <td style="font-size: 30px">{{ q.questionText }}</td>
                    </tr>
                    {% for a in q.answers %}
                        <tr>
                            <td>
                                <input type="checkbox" data-id="{{ a.id }}" class="selectAnswerCheckBoxActive"/> {{ a.answerText }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

        {% endfor %}
    {% endif %}

    <button class="submitExamButton" data-id="{{ userExam.id }}">Submit</button>
    </div>

{% endblock %}