{% extends 'baseLoggedIn.html.twig' %}

{% block content %}

    <div class="caption">
        Question Editor
    </div>

    <div class="actionFieldTop">
        Please, add the answers to the question below.
    </div>

    <div class="displayQuestionName">
        {{ question.questionText }}
    </div>

    <div class="displayExistingAnswers">
        {% if question.answers|length > 0 %}
            <table class="answerTable">
                <tbody>
            {% for a in question.answers %}
                <tr>
                    <th>{% if a.isCorrect %}&#10004;{% else %}&#10006;{% endif %}</th>
                    <th>{{ a.answerText }}</th>
                    <th>Hier ein Button</th>
                </tr>
            {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

    <div class="newNewAnswerForm">
        {{ form_start(addNewAnswerForm) }}
        {{ form_widget(addNewAnswerForm) }}
        {{ form_end(addNewAnswerForm) }}
    </div>


{% endblock %}