{% extends 'baseLoggedIn.html.twig' %}

{% block content %}


    <div class="caption">
        Create a New Question
    </div>

    <div class="actionFieldTopText">
        Please, complete the form below.
    </div>

    <div class="editContentFrame">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.category) }}
        {{ form_row(form.questionText) }}

        <div class="middleCaption">
            New Answers
        </div>

        <ul class="answers" data-prototype="{{ form_widget(form.answers.vars.prototype)|e('html_attr') }}">
            {% for answer in form.answers %}
                {{ form_row(answer) }}
                <hr style="width: 90%; margin-left: 0">
            {% endfor %}
        </ul>

        {{ form_end(form) }}

    </div>
{% endblock %}