{% extends 'baseLoggedIn.html.twig' %}

{% block content %}

    <div class="caption">
        Edit Exam Content
    </div>

    <div class="actionFieldTopText">
        Please, edit the exam below.
    </div>

    <div class="editQuestionForm">
        {{ form_start(form) }}
        {{ form_row(form._token) }}
        {{ form_row(form.name) }}
        {{ form_row(form.category) }}

        {% if not exam.isRandomExam %}
            <div class="name">
            {{ form_row(form.questions) }}
            </div>
        {% endif %}

        {{ form_row(form.save) }}

        {{ form_end(form, {'render_rest': false}) }}
    </div>

{% endblock %}