{% extends 'baseLoggedIn.html.twig' %}

{% block content %}
    <div class="caption">
        Exam Overview
    </div>

    <div class="actionFieldTopButton">
        <input type="button" class="orangeButton" onclick="location.href='{{ path('createExam') }}';" value="&plus; New Exam" />
    </div>

    <div class="foldableList">
        {% for c in categories %}
            <details open="open">
                <summary>{{ c.name }}</summary>

                <table class="foldableListTable">
                    <thead>
                    <tr>
                        <th style="width: 50%">Exam</th>
                        <th style="width: 15%; text-align: center">Questions</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for e in exams %}
                        {% if c.id == e.category.id %}
                            <tr>
                                <td>{{ e.name }}</td>
                                <td style="text-align: center;">
                                    {% if not e.isRandomExam and e.questions | length == 0 %}
                                        <span title="This exam has no questions yet">&#9888; 0</span>
                                    {% elseif e.isRandomExam and e.category not in availableCategories %}
                                        <span title="You don't have questions in this category yet">&#9888; Random</span>
                                    {% elseif e.isRandomExam %}
                                        random
                                    {% else %}
                                        {{ e.questions | length }}
                                    {% endif %}</td>
                                <td>
                                    <button style="width: 40px" data-id="{{ e.id }}" class="deleteExamButton" data-confirm="Are you sure you want to delete this Exam?">&#215</button>
                                    <input style="width: 80px" type="button" class="editButton" onclick="location.href='{{ path('editExamQuestions', {'examId': e.id}) }}';" value="&#9998; Content" />
                                    <input style="width: 80px" type="button" class="editButton" onclick="location.href='{{ path('editExamStudents', {'examId': e.id}) }}';" value="&#9998; Students" />
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </details>
            <hr style="width: 90%; margin-left: 0">
        {% endfor %}
    </div>

{% endblock %}