{% extends 'baseLoggedIn.html.twig' %}

{% block content %}
    <div class="caption">
        Question Overview
    </div>

    <div class="actionFieldTopButton">
        <input type="button" class="orangeButton" onclick="location.href='{{ path('createQuestion') }}';" value="&plus;  New Question" />
    </div>

    <div class="foldableList">
        {% for c in categories %}
    <details open="open">
        <summary>{{ c.name }}</summary>

            <table class="foldableListTable">
                <thead>
                <tr>
                    <th style="width: 50%">Question</th>
                    <th style="width: 15%; text-align: center;">Answers</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {% for q in questions %}
                        {% if c.id == q.category.id %}
                        <tr>
                            <td>{{ q.questionText }}</td>
                            <td style="text-align: center">{{ q.answers | length }}</td>
                            <td>
                                <button style="width: 40px" data-id="{{ q.id }}" class="deleteQuestionButton" data-confirm="Are you sure you want to delete this Question?">&#215</button>
                                <input style="width: 90px" type="button" class="editButton" onclick="location.href='{{ path('editQuestion', {'questionId': q.id}) }}';" value="&#9998; Question" />
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
    </details>
            <hr style="width: 90%; margin-left: 0">
        {% endfor %}
    </div>

{% endblock %}