{% extends 'baseLoggedIn.html.twig' %}

{% block content %}
    <div class="caption">
        Exam Overview
    </div>

    <div class="actionFieldTopButton">
        <input type="button" class="orangeButton" onclick="location.href='{{ path('createExam') }}';" value="&plus; New Exam" />
    </div>

    <div class="questionList">
        {% for c in categories %}
            <details open="open">
                <summary>{{ c.name }}</summary>

                <table class="questionListTable">
                    <thead>
                    <tr>
                        <th style="width: 70%; height: 45px">Exam</th>
                        <th>Questions</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for e in exams %}
                        {% if c.id == e.category.id %}
                            <tr>
                                <td>{{ e.name }}</td>
                                <td style="text-align: center; {% if not e.isRandomExam and e.questions | length == 0 %}color: red{% endif %}" >
                                    {% if e.isRandomExam %}
                                        random
                                    {% else %}
                                        {{ e.questions | length }}
                                    {% endif %}</td>
                                <td>
                                    <button style="width: 40px" data-id="{{ e.id }}" class="deleteExamButton">&#215</button>
                                    <input style="width: 80px" type="button" class="editButton" onclick="location.href='{{ path('editExamQuestions', {'examId': e.id}) }}';" value="&#9998; Content" />
                                    <input style="width: 80px" type="button" class="editButton" onclick="location.href='{{ path('editExamStudents', {'examId': e.id}) }}';" value="&#9998; Students" />
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </details>
            <hr style="width: 90%; margin-left: 0">
        {% endfor %}
    </div>

{% endblock %}