{% extends 'baseLoggedIn.html.twig' %}

{% block content %}
    <div class="caption">
        Your Questions
    </div>

    <div class="actionFieldTop">
        <input type="button" class="orangeButton" onclick="location.href='{{ path('createQuestion') }}';" value="Add New Question" />
    </div>

    <div class="questionList">
        {% for c in categories %}
    <details open="open">
        <summary>{{ c.name }}</summary>

            <table class="questionListTable">
                <thead>
                <tr>
                    <th style="width: 70%; height: 45px">Question</th>
                    <th>Answers</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% for q in questions %}
                        {% if c.id == q.category.id %}
                        <tr>
                            <td>{{ q.questionText }}</td>
                            <td style="text-align: center">{{ q.answers | length }}</td>
                            <td>
                                <button style="width: 40px" data-id="{{ q.id }}" class="deleteQuestionButton">&#215</button>
                                <input style="width: 90px" type="button" class="editButton" onclick="location.href='{{ path('editQuestion', {'questionId': q.id}) }}';" value="Edit Question" />
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
    </details>
            <hr style="width: 90%; margin-left: 0">
        {% endfor %}
    </div>

{% endblock %}