{% extends 'baseLoggedIn.html.twig' %}

{% block content %}
    <div class="caption">
        Result for {{ userExam.user.firstname }} {{ userExam.user.lastname }}
    </div>

    <div class="actionFieldTop">
        in {{ userExam.exam.name }}
    </div>

    <div class="questionList">
        {% for q in userExam.exam.questions %}
            <div class="takeExamQuestionBlock">
                <table>
                    <tr style="font-size: 20px;">
                        <td style="padding-bottom: 10px; text-decoration: underline;">Result: {{ userExam.result }}%</td>
                    </tr>
                    <tr>
                        <td style="font-size: 20px">{{ q.questionText }}</td>
                    </tr>
                    {% for a in q.answers %}
                            <tr>
                                <td>
                                    <input type="checkbox" data-id="{{ a.id }}" class="selectAnswerCheckBox" {% if a in userExam.givenAnswers %} checked="checked"{% endif %}readonly/> {{ a.answerText }}
                                </td>
                            </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    </div>

{% endblock %}