{% extends 'baseLoggedIn.html.twig' %}

{% block content %}

    {% set sumResults = 0 %}
    {% set counter = 0 %}

    <div class="caption">
        Exam Results
    </div>

    <div class="actionFieldTopText">
        See how students performed on your exams.
    </div>

    <div class="questionList">
        {% for c in categories %}
            <details open="open">
                <summary>{{ c.name }}</summary>

                {% for e in exams %}
                    {% if c.id == e.category.id %}
                        <details>
                            <summary class="nestedSummary">{{ e.name }}</summary>

                            <table style="margin-left: 20px" class="questionListTable">
                                <thead>
                                <tr>
                                    <th>Student</th>
                                    <th>Result</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for ue in userExams %}
                                    {% if ue.exam.id == e.id %}
                                        {% if ue.result is not null %}
                                            {% set sumResults = sumResults + ue.result %}
                                            {% set counter = counter + 1 %}
                                        {% endif %}
                                        <tr>
                                            <td>{{ ue.user.firstname }} {{ ue.user.lastname }}</td>
                                            {% if ue.result is null %}
                                                <td>
                                                    No result available
                                                </td>
                                            {% else %}
                                                <td>{{ ue.result }}%</td>
                                                <td>
                                                    <input style="width: 80px" type="button" class="editButton" onclick="location.href='{{ path('showTeacherDetailedResult', {'userExamId': ue.id}) }}';" value="Details"/>
                                                </td>
                                            {% endif %}

                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                <tr>
                                    <td style="font-weight: bold">Overall result</td>
                                    <td style="font-weight: bold">{% if counter != 0 %}{{ sumResults // counter }}%{% else %}0%{% endif %}</td>
                                    <td></td>
                                    {% set sumResults = 0 %}
                                    {% set counter = 0 %}
                                </tr>
                                </tbody>
                            </table>
                        </details>
                    {% endif %}
                {% endfor %}
            </details>
            <hr style="width: 90%; margin-left: 0">
        {% endfor %}
    </div>

{% endblock %}