{% extends 'baseLoggedIn.html.twig' %}

{% block content %}
    <div class="caption">
        Result for {{ userExam.user.firstname }} {{ userExam.user.lastname }}
    </div>

    <div class="actionFieldTop">
        in {{ userExam.exam.name }}
    </div>

    <div class="questionList">
        <div class="takeExamQuestionBlock">
            <table>
                <tr>
                    <td style="font-size: 20px; text-decoration: underline">
                        Result: {{ userExam.result }}%
                    </td>
                </tr>

                {% if userExam.exam.isRandomExam and questions is defined %}

                    {% for q in questions %}
                        <tr>
                            <td style="font-size: 20px">{{ q.questionText }}</td>
                        </tr>
                        {% for a in q.answers %}
                            <tr>
                                <td>
                                    <input type="checkbox" data-id="{{ a.id }}" class="selectAnswerCheckBoxPassive" {% if a in userExam.givenAnswers %} checked="checked" {% endif %}readonly/> {{ a.answerText }}
                                </td>
                            </tr>
                        {% endfor %}

                    {% endfor %}

                {% else %}

                    {% for q in userExam.exam.questions %}
                        <tr>
                            <td style="font-size: 20px">{{ q.questionText }}</td>
                        </tr>
                        {% for a in q.answers %}
                            <tr>
                                <td>
                                    <input type="checkbox" data-id="{{ a.id }}" class="selectAnswerCheckBoxPassive" {% if a in userExam.givenAnswers %} checked="checked" {% endif %}readonly/> {{ a.answerText }}
                                </td>
                            </tr>
                        {% endfor %}

                    {% endfor %}

                {% endif %}

            </table>
        </div>
    </div>

{% endblock %}