{% extends 'baseLoggedIn.html.twig' %}

{% block content %}
    <div class="caption">
        Result for {{ userExam.user.firstname }} {{ userExam.user.lastname }}
    </div>

    <div class="actionFieldTop">
        in {{ userExam.exam.name }}
    </div>

    <div class="editQuestionForm">

        <div class="detailedResultDisplayResult">
            Result: {{ userExam.result }}%
        </div>

        {% if userExam.exam.isRandomExam and questions is defined %}

            {% for q in questions %}
                <div class="detailedResultQuestionAnswerBlock">
                    <div class="detailedResultQuestionText">
                        {{ q.questionText }}
                    </div>

                    <table class="detailedResultAnswerBlock">
                        {% for a in q.answers %}
                            <tr>
                                <td>
                                    <input type="checkbox" data-id="{{ a.id }}" class="selectAnswerCheckBoxPassive" {% if a in userExam.givenAnswers %} checked="checked" {% endif %}readonly/>
                                </td>
                                <td style="padding-left: 5px;">
                                    {{ a.answerText }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}

        {% else %}

            {% for q in userExam.exam.questions %}
                <div class="takeExamQuestionAnswerBlock">
                    <div class="takeExamQuestionText">
                        {{ q.questionText }}
                    </div>

                    <table class="takeExamAnswerBlock">
                        {% for a in q.answers %}
                            <tr>
                                <td>
                                    <input type="checkbox" data-id="{{ a.id }}" class="selectAnswerCheckBoxPassive" {% if a in userExam.givenAnswers %} checked="checked" {% endif %}readonly/>
                                </td>
                                <td style="padding-left: 5px;">
                                    {{ a.answerText }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}

        {% endif %}


    </div>

{% endblock %}