{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <div class="baseLoggedInContainer">
            <a href="{{ path('home') }}"><img src="{{ asset('images/icon.png') }}" alt=logo" class="logo" /></a>
            <nav>
                <ul>
                    {% if activeUser.role == 'ROLE_STUDENT' %}
                        <li><a href="{{ path('listAvailableExams') }}">Available Exams</a></li>
                        <li><a href="{{ path('listStudentsResults') }}">Completed Exams</a></li>
                    {% else %}
                        <li><a href="{{ path('listQuestions') }}">Questions</a></li>
                        <li><a href="{{ path('listExams') }}">Exams</a></li>
                        <li><a href="{{ path('showTeacherResultsList') }}">Results</a></li>
                    {% endif %}
                    <li><a href="{{ path('logout') }}">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>
    {% block content %} {% endblock %}
{% endblock %}